.patient__sidebar--container {
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patient__div--header {
  margin-bottom: 50px;
}

.avatar__div--edit {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.avatar__btn--edit {
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  right: 13px;
  bottom: 6px;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.patient__header--content {
  margin-top: 20px;
}

.patient__text--username {
  font-size: 20px;
  font-weight: 600;
}

.patient__text--email {
  margin-top: 10px;
  font-size: 16px;
  color: var(--color-text);
}

.profile__item {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.profile__item--default {
  text-decoration: none;
  color: var(--color-text);
}

.profile__item--default:hover {
  color: var(--primary-dark-color);
}

.profile__item--active {
  color: var(--primary-color);
  text-decoration: none;
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px 30px;
  border-radius: 20px;
  width: 440px;
}

.modal__box--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal__button--close {
  border: none;
  background-color: white;
  cursor: pointer;
}

.modal__title {
  font-size: 20px;

  font-weight: 600;
  color: var(--primary-dark-color);
}

.modal__title--input {
  font-size: 15px;
  margin-bottom: 10px;
}

.modal__input--avatar {
  margin-left: 10px;
  margin-bottom: 5px;
}

.modal__text--inform {
  font-size: 13px;
  margin-top: 15px;
  color: var(--color-text);
}

.modal__button--upload {
  border: none;
  background-color: #39cabb;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%;
}

.modal__text--error {
  margin-top: 10px;
  font-size: 15px;
  color: var(--color-text-error);
}

.modal__loading {
  display: flex;
  justify-content: center;
  padding: 53px;
}
